* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}
body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* Navigation */
nav {
  position: fixed;
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 2px solid gainsboro; */
  background-color: #031d44;
  color: aliceblue;
  z-index: 10;
}

nav h1 {
  padding-left: 1vw;
  font-size: 31px;
}

.childNav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4vw;
  margin-right: 2vh;
  width: 50vw;
  height: auto;
  /* flex-shrink: 1; */
  flex-wrap: wrap;
}

#dropdown {
  width: 20px;
}

.option {
  min-width: 8vw;
  /* text-wrap: wrap; */
}
nav label {
}

nav button {
  height: 2rem;
  width: 5rem;
  min-width: 3.5rem;
  flex-shrink: 1;
}

nav h3 {
  font-size: 1.25rem;
}

/* overview heading and summary */

#main-content {
  width: 100%;
  height: 55vw;
  display: flex;
  margin-top: 8vh;
}
#imgDiv {
  width: 100%;
}
#main-content img {
  width: 100%;
  object-fit: fill;
  filter: blur(2.5px);
  z-index: -1;
  filter: brightness(35%);
}

.textWrap {
  margin-top: 4vw;
  position: absolute;
  left: 2vw;
}
#heading {
  color: white;
  top: 2vw;
  left: 3vw;
  width: 65%;
  /* height: auto; */
  font-size: 5.5vw;
}

#mainPara {
  color: white;
  margin-top: 1em;
  top: 175px;
  left: 3vw;
  width: 80%;
  height: auto;
  font-size: 3.5vw;
}

#explore {
  margin-top: 1em;
}

#explore button {
  /* background-color: rgb(255, 153, 135);
  color: black; */
  width: clamp(45px, 11%, 135px);
  height: clamp(12px, 6vw, 55px);
  font-size: 3vw;

  background-color: transparent;
  color: white;
}

#explore button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(255, 114, 89);
}

/* Apps section */

#main {
  background: linear-gradient(145deg, #031d44, black, black, #031d44);
  color: aliceblue;
  min-height: 100vh;
  min-width: 100vw;
}

#apps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  padding: 2rem 2rem 0.8rem 2rem;
  border: 1px solid transparent;
  border-radius: 20px;
  margin: 15px 15px 15px 15px;
  max-width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vw;
  box-shadow: 0 0 8px white;
}

.app h3 {
  padding-left: 1.1rem;
  font-size: 6vw;
  margin-bottom: 1.1rem;
}

.app p {
  padding-left: 1.1rem;
  font-size: 3.5vw;
  align-self: center;
  margin-bottom: 0.5rem;
}

.app button {
  height: clamp(20px, 2rem, 60px);
  width: clamp(45px, 5rem, 180px);
  font-size: 1rem;

  margin-top: auto;
  margin-bottom: 2%;

  background-color: transparent;
  color: white;
}

.calC {
  color: rgb(255, 114, 89);
}

#unitConvertor h3 {
  padding: 0;
}
/* Footer */

footer {
  color: aliceblue;
  display: flex;
  flex-direction: row;
  /* background: linear-gradient(-145deg, rgb(53, 53, 118), black); */
  background-color: black;
}

.footerDiv {
  height: 15vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.1rem;
}

/* button special */

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(255, 114, 89);
}

button {
  background-color: rgb(255, 153, 135);
  color: black;
  font-size: 2.2vw;
  border-radius: 0.5rem;
  border: 2px solid rgb(255, 153, 135);
}

#Sign {
  width: clamp(70px, 6.5vw, 150px);
  height: clamp(30px, 2.5vh, 60px);
  font-size: clamp(15px, 1.3rem, 25px);
  border-radius: 5px;
  background-color: transparent;
  color: white;
}

#Sign:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(255, 114, 89);
}

/* Extrass */

::selection {
  background-color: aliceblue;
  color: black;
}

@media (min-width: 700px) {
  #apps {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .app {
    position: relative;
    transform: scale(0.8);
    padding: 2rem 2rem 0.8rem 2rem;
    border: 1px solid transparent;
    border-radius: 20px;
    max-width: 75vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-height: 40vw;
    box-shadow: 0 0 8px white;
  }

  .app h3 {
    padding-left: 0.5rem;
    font-size: 3.5vw;
    margin-bottom: 1.1rem;
  }

  .app p {
    align-self: flex-start;
    padding-left: 1.1rem;
    font-size: 2.5vw;
    margin-bottom: 0.5rem;
  }

  .app button {
    font-size: larger;
    position: absolute;
    bottom: 2%;
    left: 40%;
    height: clamp(20px, 2.5rem, 50px);
    width: clamp(60px, 5.5rem, 200px);
  }
}

@media (min-width: 900px) {
  #explore button {
    font-size: 2rem !important;
    min-width: 125px;
    max-height: 55px;
  }
  #main {
    min-width: 100vw;
    min-height: 100vh;
  }

  #heading {
    font-size: 4.7vw;
  }
  #apps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .app {
    position: relative;
    /* transform: scale(0.8); */
    padding: 2rem 2rem 0.8rem 2rem;
    margin-bottom: 1.5rem;
    border: 1px solid transparent;
    border-radius: 20px;
    min-width: 100%;
    /* max-width: 75vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
    /* max-height: 40vw; */
    box-shadow: 0 0 8px white;
  }
  .app h3 {
    padding-left: 0.5rem;
    font-size: 3.5vw;
    margin-bottom: 1.1rem;
  }

  .app p {
    padding-left: 0.5rem;
    font-size: 2vw;
    align-self: center;
    margin-bottom: 0.5rem;
  }

  .app button {
    position: absolute;
    font-size: clamp(10px, 1.2rem, 20px);
    align-self: flex-end;
    height: clamp(20px, 2.5rem, 50px);
    width: clamp(60px, 5.5rem, 200px);
  }

  #explore button {
    font-size: 2.2rem;
    height: 4.5rem;
    width: 10%;
    margin: none;
    left: 0;
    padding-left: none;
  }
}
