* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overscroll-behavior: none;
  background: linear-gradient(135deg, #8399a2, #eef2f3);
}

.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: fit-content;
}

#flex {
  border-radius: 10px;
  min-height: 28vw;
  min-width: 40vw;
  background: linear-gradient(#4b749f, #243748);
  padding: 10px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 5px black;
}

.co-wrap {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#title {
  text-wrap: nowrap;
  font-size: clamp(20px, 7vw, 32px);
  /* font-size: 4vw; */
}

#left {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#right {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

input {
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  height: 1.8rem;
  color: rgb(61, 21, 99);
  font-size: 1rem;
}

.x {
  margin: 1rem 0.5rem 0.5rem 0rem;
  align-self: flex-start;
  font-size: 1.3rem;
}

.y {
  margin: 1rem 0.5rem 0.5rem 0rem;
  align-self: flex-start;
  font-size: 1.3rem;
}

.calculate {
  margin: 0px 15px 15px 15px;
}

button {
  color: black;
  background-color: #ffac58;
  height: clamp(1.7rem, 2.5rem, 3rem);
  width: clamp(5rem, 8rem, 6.5rem);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 0 4px black;
  transition: all 0.35s ease;
}
button:hover {
  transform: scale(1.07);
  cursor: pointer;
  box-shadow: 0 0 12px black;
}

#output {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  width: 90%;
}

#distance {
  align-self: center;
  font-size: 1.5em;
}

#answer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.4rem;
  width: clamp(130px, 14vw, 250px);
  background-color: white;
  border-radius: 4px;
  font-size: larger;
}

.result {
  box-shadow: 0 0 5px whitesmoke;
  color: black;
  font-weight: bold;
}
@media (max-width: 451px) {
  #answer {
    flex-direction: column;
  }
}
